{% extends "templates/base.html" %}
{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1>Welcome!</h1>
          <p>This application will contain all of the student work for the course.  This particular page will let you know what has changed recently, and provide links to resources, including the course web site.  This is not the course web site.</p>
        </div>
       </div>

       <div class="container">
         <!-- Example row of columns -->
             <h2>What's new?</h2>
             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

             <h2>Useful Links</h2>
             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

         <hr>
     </div>

         {% endblock %}
